body{
	background-image: url("/background.jpg");
	background-color: rgb(44, 156, 240);
}
.btnbar button{
	color: slategray;
	background-image:linear-gradient(to bottom, DarkSlateGray, rgb(20, 20, 33), Black);
	font-size: 22px;
	width:24%;
	border-radius: 5px;
}
.btnbar button:hover{
	color: azure;
	background-image:linear-gradient(to bottom, SlateGray, DarkSlateGray, rgb(20, 20, 33));
}
.btnbar{
	padding-bottom: 5px;
}
#mail button{
	border-color: black;
	position: fixed;
	top: 50px;
	height: 40px;
	width: 55px;
	color: white;
	background-image: url("https://img.icons8.com/papercut/60/new-post.png" );
	background-size: 60px;
	background-position: center;
}
#mail button:hover{
	border-color: white;
}
#linkedin button{
	border-color: black;
	position: fixed;
	top: 100px;
	border-radius: 8px;
	height: 39px;
	width: 40px;
	background-image: url("https://img.icons8.com/fluency/48/linkedin.png");
	background-position: center;
}
#linkedin button:hover{
	border-color: white;
}
#mail a{
	position: fixed;
	top: 60px;
	left: 70px;
	color: white;
	display: none;
}
#linkedin a{
	position: fixed;
	top: 110px;
	left: 55px;
	color: white;
	display: none;
}
#mail div{
	background-color: lightblue;
	position: fixed;
	top: 57px;
	left: 30px;
	width: 250px;
	height: 25px;
	display: none;
	border-radius: 15px;
}
#linkedin div{
	background-color: lightblue;
	position: fixed;
	top: 107px;
	left: 10px;
	width: 340px;
	height: 25px;
	display: none;
	border-radius: 15px;
}
#photo{
	position: fixed;
	width: 200px;
	height: 200px;
	left: -60px;
	bottom: -20px;
}
#timer{
	position: fixed;
	font-size: 25px;
	font-weight: 900;
	left: 10px;
	bottom: 60px;
	font-color: black;
}
#timer:hover{
	color: white;
}
#main-content {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding-top: 10px;
}